.upload-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.browse-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.cta1, .cta2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.cta1:hover, .cta2:hover {
    background-color: #45a049;
}